.border1 {
    display: flex;
    width: 100%;
    height: 40px;
    background-color: rgb(254, 126, 57); 
}
#top1 {
    font-size: 15pxpx;
    font-weight: bold;
    color: aliceblue;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
}
#top2 {
    color: aliceblue;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: auto;
}

#mainimg {
    height: 550px;
    width: 100%;
}
#maindiv {
    margin-top: auto;
}
#search1 {
    height: 30px;
    width: 30px;
    margin-top: 15px;
    /* margin-bottom: 20px; */
}
#myact1 {
    height: 30px;
    width: 30px;
    margin-top: 15px;
    /* margin-bottom: 20px; */
}
#cart1 {
    height: 30px;
    width: 30px;
    margin-top: 15px;
    /* margin-bottom: 20px; */
}
.pict1 {
    margin-top: -250px;
    margin-left: 10%;
    font-size: 44px;
    background-color: aliceblue;
    
}
.pict2 {
    
    margin-left: 10%;
    
}
.pict3 {
    
    margin-left: 10%;
    background-color: rgb(41, 107, 100);
    
}
button {
    background-color: rgb(69, 209, 209);
    border: 1px solid rgb(69, 209, 209);
    height: 50px;
    width: 200px;
    color: aliceblue;
    font-weight: bold;
    font-size: 20px;
    
}
button:hover{
    background-color: rgb(50, 50, 47);
}
/* navbar start */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    display: flex;
    justify-content: space-between;
  }
  
  .last, .first {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    /* margin-left: auto;
    margin-right: auto; */
  }
  
  li {
    background-color: white;
  }
  
  li a {
    display: block;
    color: #737374;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  li a abc1:hover {
    background-color: rgb(188, 203, 184)
    
  }

  Shop about:hover {
    background-color: rgb(188, 203, 184)
    
  }
/* navbar end */
#shopby{
    margin-top: 130px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #4c4c4e;
    
}
#shopby1{
    margin-top: 80px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #4c4c4e;
    
}
.catg1{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid red; */
}
#catimg1:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.2); 
  }
  #mimg1{
    width: 100%;
  }
  #mimg1:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.2); 
  }
.card2 {
    /* border: 1px solid blue; */
    width: 25%;
    height: auto;
    /* margin-left: 0.5%;
    margin-right: 0.5%; */
}
#catimg1{
    height: 300px;
    width: auto;

    /* margin-left: 60px;
    margin-right: 50px; */
}
#catgp{
    /* margin-left: 100px;
    margin-right: auto; */
    text-align: center;
    margin-top: 28px;
    font-size: 20px;
    font-weight: bold;
    color: #68686d;
    
}
/* img:hover {
    background-color: aqua;
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
      
}  */

img:hover .border1 {
        left: 10%;
        opacity: 1;
        visibility: visible;
}

/* best sellers */



.card{
    /* border: 1px solid black; */
    width: 38%;
    height: 460px;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    /* margin-left: 10px;
    margin-right: 10px; */
    text-align: center;
    margin: auto;

  }

  #container{
    width: 85%;
    height: 460px;
    /* border: 1px solid red; */
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 0px;
  }
  #itomname1{
      font-size: 20px;
      font-weight: 600;
      color: #4a4a4f;
      margin-top: 30px;
      margin-bottom: -10px;
  }
  #desc1{
      color: #737374;
      
  }
  #cartf1{
      height: 40px;
      width: 50px;
  }
#butt2{
    background-color: rgb(163, 159, 152);
    border-radius: 10px;
}
#butt2:hover{
    background-color: rgb(128, 193, 115);
}
#herb1{
    height: 350px;
    width: 90%;
    /* border: 1px solid rgb(6, 214, 37); */
    margin-top: 80px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #ebeeee;
    display: flex;
    
}
#herbcd1{
    height: 350px;
    width: 30%;
    /* border: 1px solid skyblue; */
    display: flex;
    /* border: 1px solid yellow; */
    
}
#unlock1 {
    font-size: 35px;
    margin-top: 70px;
    
}
#herbt1{
    font-size: 28px;
    margin-top: -225px;
    margin-left: 405px;
    color: #4a4a4f;
}
#herbt2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #4c4c4e;
    margin-left: 405px;
}

.contr1 {
    height: 200px;
    width: 90%;
    /* border: 1px solid red; */
    display: flex;
     margin: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 160px;

}
.card1 {
    height: 200px;
    width: 30%;
    /* margin-block: 1%; */
    border: 1px solid yellowgreen;
    /* display: inline-block */
    /* margin-left: 2%; */
   margin: auto;
}
#quote1{
    text-align: left;
    margin-top: 50px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #4c4c4e;
}
#quote2{
    text-align: justify;
    margin-top: 30px;
    color: #8a8a8c;
}
#fo1{
        height: 50px;
        width: 95%;
        /* border: 1px solid red; */
        margin-left: 40px;
        margin-top: 40px;
        font-size: 35px;
        font-weight: 550;
        color: #737374;

}
#lastdiv10{
    height: 270px;
    width: 90%;
    /* border: 1px solid red; */
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 40px;
    display: flex;
}
#lastcard12{
    height: 270px;
    width: 23%;
    /* border: 1px solid blue; */
    margin-left: 1%;
    margin-right: 1%;
}
#imgl1{
    height: 270px;
    width: 100%;
}

/* footer :start */
#lastpart{
    /* border: 1px solid goldenrod; */
    height: 620px;
    margin-top: 40px;
    margin-bottom: 0px;
    display: flex;
    background-color: #EEF2F0;
   color: #777777;
   font-size: 14px;
}
#lastpart>div{
    height: 85%;
    width: 25%;
    /* border: 1px solid green; */
    padding-left: 60px;
}
a{
   color: #889583;
   font-size: 26px;
   font-weight: 700;
   margin-top: 5px;
}
 #email{
    height: 30px;
    width: 330px;
}
#lastpart>div>h1{
    color: black;
}
#lastpart>div>h3{
    font-size: 20px;
    line-height: 40px;
    color:black
}
#follow{
    display: flex;
    gap: 20px;
}
#follow >img{
    height: 30px;
    padding-top: 20px;
}
#bottom{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-align: center;
    border: 1px solid  #66765F;
    color:#454545;
    font-weight: 300;
    /* font-variant: inherit; */
    height: 100px;
    width: 86%;
    margin: auto;
    margin-top: 0px;
    padding-left: 2px; 

}

#tdmark1 {
    font-size: 18px;
    color: #636c60;
    margin-left: 130px;
    margin-top: -220px;
    font-size: auto;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: #4c4c53;
    font-size: 22px;
}
#parg {
    font-size: 16px;
}
#parg1 {
    font-size: 19px;
    
}
#parg2 {
    font-size: 18px;
    color: #454545;
    margin-top: -15px;
    
}
#parg3 {
    font-size: 18px;
    color: #454545;
    margin-top: -15px;
    
}
#email {
    font-size: 20px;
    
}
#tag12{
    color: #889583;
    font-size: 20px;
    font-weight: 800;
    margin-top: -20px;
}

/* footer end */