.border1 {
    display: flex;
    width: 100%;
    height: 40px;
    background-color: rgb(254, 126, 57);
}

#top1 {
    font-size: 15pxpx;
    font-weight: bold;
    color: aliceblue;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
}

#top2 {
    color: aliceblue;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: auto;
}



/* hearder :end */



/* navbar start */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.last,
.first {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    /* margin-left: auto;
    margin-right: auto; */
}

li {
    background-color: white;
}

li a {
    display: block;
    color: #737374;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

li a:hover {
    background-color: rgb(174, 156, 156)
}

#search1 {
    height: 30px;
    width: 30px;
    margin-top: 15px;
    /* margin-bottom: 20px; */
}

#myact1 {
    height: 30px;
    width: 30px;
    margin-top: 15px;
    /* margin-bottom: 20px; */
}

#cart1 {
    height: 30px;
    width: 30px;
    margin-top: 15px;
    /* margin-bottom: 20px; */
}




/* body */

#container {
    position: relative;
    text-align: center;
    color: white;
}

#container h1 {
    font-size: 30px;
}

/* strong {
    font-size: 60px;
} */

.middle {
    /* height: 300px; */
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    /* border: 1px solid red; */

}

#bold1{
    font-size: 70px;
}

#firsti img {
    height: 400px;
    width: 100%;
}

#product {
    display: grid;
    font-size: 25px;
    font-weight: 800px;
    grid-template-columns: repeat(5, 1fr);
    width: 90%;
    margin: auto;
    gap: 1px;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 20px;
    color: rgba(0, 102, 102, 1);
}
 #tag10:hover{
    background-color: #fff701;
}
#our:hover{
    background-color: #fff701;
}

/* #product>div {
    height: 46px;
    width: 150px;
    color: rgba(0, 102, 102, 1);

    padding-bottom: 21px;
    font-size: 17px;

    text-align: center;
    display: inline-block;
} */

#our {
    
    background-color: rgb(7, 239, 239);
    height: 28px;
    
    

}
#story1{
    text-align: center;
    font-size: 50px;
    color: #ffffff;
   
}

hr {
    padding-top: -10px;
    
    background-color: red;
}

/* #our>p {
    color: white;
} */

#lastd {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 667px;

    gap: 25px;
}

#lastd>div {

}

#lastd img {
    height: 800px;
    width: 750px;


}

#srinu {

    height: 500px;
    width: 400px;
    /* border: 1px solid red; */
    margin-right: 5px;
   

    /* box-sizing: border-box; */
    /* margin-top: 20px; */
    margin-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: left;
    gap: 25px;
    /* border: 2px solid rgb(243, 232, 232); */
    padding-bottom: 50px;


}

#lastdd>div p {
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #777777;
    background-color: #e90a0a;
    border: 2px solid red;

    overflow-x: hidden;
    text-align: justify;
    padding: 10px;
}

/* footer */

        /* footer :start */
        #card1{
            margin-left: -35px;
            margin-right: -10px;
        }
        #lastpart{
            /* border: 1px solid goldenrod; */
            height: 620px;
            margin-top: 140px;
            margin-bottom: 0px;
            display: flex;
            background-color: #EEF2F0;
           color: #777777;
           font-size: 14px;
        }
        #lastpart>div{
            height: 85%;
            width: 25%;
            /* border: 1px solid green; */
            padding-left: 60px;
        }
        a{
           color: #889583;
           font-size: 26px;
           font-weight: 700;
           margin-top: 5px;
        }
         #email{
            height: 30px;
            width: 250px;
        }
        #lastpart>div>h1{
            color: black;
        }
        #lastpart>div>h3{
            font-size: 20px;
            line-height: 40px;
            color:black
        }
        #follow{
            display: flex;
            gap: 20px;
        }
        #follow >img{
            height: 18px;
            padding-top: 20px;
        }
        #h1212{
            font-size: 16px;;
        }
        #bottom{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 16px;
            text-align: center;
            border: 1px solid  #66765F;
            color:#454545;
            font-weight: 300;
            /* font-variant: inherit; */
            height: 100px;
            width: 86%;
            margin: auto;
            margin-top: 0px;
            padding-left: 2px; 
        
        }
        
        #tdmark1 {
            font-size: 18px;
            color: #636c60;
            margin-left: 130px;
            margin-top: -250px;
            font-size: auto;
        }
        h2 {
            font-family: Arial, Helvetica, sans-serif;
        }
        h1{
            color: #4c4c53;
            font-size: 20px;
            font-weight: 550;
            text-align: justify;
        
        }
        #parg {
            font-size: 16px;
        }
        #parg1 {
            font-size: 19px;
            
        }
        #parg2 {
            font-size: 18px;
            color: #454545;
            margin-top: -15px;
            
        }
        #parg3 {
            font-size: 18px;
            color: #454545;
            margin-top: -15px;

            
        }
        #email {
            font-size: 20px;
            
        }
        #tag12{
            color: #889583;
            font-size: 20px;
            font-weight: 800;
            margin-top: -20px;
        }
        

        .border1 {
            display: flex;
            width: 100%;
            height: 40px;
            background-color: rgb(254, 126, 57); 
        }
        #top1 {
            font-size: 15pxpx;
            font-weight: bold;
            color: aliceblue;
            text-align: center;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: auto;
        }
        #top2 {
            color: aliceblue;
            font-size: 15px;
            margin-left: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-right: auto;
        }

        
        
        /* footer end */
        #para12{
            font-size: 18px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-align: justify;
        }

        #root1{
            font-size: 35px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 700;
        }
@media all and (min-width: 451px) and (max-width: 750px) {
    #product {

        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    #lastd img {
        height: 450px;
        width: 480px
    }

    #lastd {
        grid-template-columns: repeat(1, 1fr);
        width: 500px;
    }


}

/* small screens */
@media all and (min-width: 80px) and (max-width: 450px) {

    #product {

        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        text-align: center;
        display: block;


    }
  

}